.toggleButton {
    padding: .5rem;
    background-color: transparent;
    font-size: 1.125rem;
    outline: none; 
    border: none; 
    cursor: pointer; 
}

.toggleButton:focus {
    outline: none; 
}

.toggleButton:hover {
    transform: scale(1.1); 
}
