.bioImageContainer {
  display: block;
  justify-self: center;
  margin: 20px auto 0 auto;
  width: 16.8rem;
  height: 12rem;
  max-width: 80%;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: 768px) {
    width: calc(16.8rem * 1.05);
    height: calc(12rem * 1.05);
  }
}

.bioImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bioParagraph {
  margin-top: 4px;
}

.bioCopy {
  margin: 40px auto;
  font-size: 11.2px;
  line-height: 1.75;
  max-width: 300px;
  color: var(--text-color);
  font-weight: 350;
  margin-bottom: 50px;

  @media (min-width: 530px) {
    max-width: 426px;
  }
}

[data-theme='light'] .bioCopy {
  font-weight: 460;
}
