.bioImageContainer {
  display: block;
  justify-self: center;
  margin: 30px auto 0 auto;
  width: 16.8rem;
  height: 12rem;
  max-width: 80%;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: 768px) {
    width: calc(16.8rem * 1.05);
    height: calc(12rem * 1.05);
  }
}

.bioImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bioCopy {
  margin: 2rem auto 0 auto;
  font-size: 12px;
  line-height: 1.75;
  max-width: 290px;
  color: var(--text-color);

  @media (min-width: 530px) {
    max-width: 360px;
    margin-top: 2.5rem;
  }

  @media (min-width: 768px) {
    max-width: 360px;
  }
}
