.bioImageContainer {
  display: block;
  justify-self: center;
  margin: 20px auto 0 auto;
  height: 14rem;
  width: 16rem;
  border-radius: 10%;
  overflow: hidden;

  @media (min-width: 768px) {
    height: calc(14rem * 1.2);
    width: calc(16rem * 1.2);
    margin-bottom: 40px;
  }
}

.bioImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bioParagraph {
  margin-top: 4px;
}

.highlight {
  font-weight: 600;
}

.bioCopy {
  margin: 32px auto;
  font-size: 11.5px;
  line-height: 1.75;
  max-width: 300px;
  color: var(--text-color);
  font-weight: 350;
  margin-bottom: 50px;

  @media (min-width: 530px) {
    max-width: none;
    width: 75%;
  }
  @media (min-width: 768px) {
    max-width: 600px;
    width: 85%;
    text-align: left;
  }
  @media (min-width: 1024px) {
    max-width: 1000px;
    width: 70%;
    text-align: left;
  }
}

[data-theme='light'] .bioCopy {
  font-weight: 460;
}
