@font-face {
  font-family: 'Hyperbola';
  src: url('/fonts/Hyperbola.woff2') format('woff2'),
    url('/fonts/Hyperbola.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
/* Dark mode default */
/* Base styles */

:root {
  --background-color: #0e0e0e;
  --text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: rgba(151, 184, 124, 0.289);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: flex-start;
  padding: 0 0 0 0;
  justify-content: center;

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.modalContent {
  align-items: center;
  position: relative;
  overflow-y: auto;
  z-index: 1000;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  top: 56px;
  height: calc(100vh - 106px);
  width: 100%;
  max-width: 480px;
  margin: 0 6px;
  padding: 45px 1rem 0 1rem;

  @media (min-width: 768px) {
    max-width: 700px;
    width: 80%;
  }

  @media (min-width: 1024px) {
    margin-right: 4px;
    max-width: 900px;
    width: 75%;
  }

  @media (min-width: 1400px) {
    max-width: 1100px;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.closeButton img {
  width: 20px;
  height: 20px;
}

.socialIconsContainer {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

  @media (min-width: 768px) {
    height: 5.2rem;
  }
}

.socialIconImage {
  height: 65px;
  width: auto;
  margin: 22px;
  box-sizing: border-box;

  @media (min-width: 550px) {
    margin: 25px;
    height: 67px;
  }

  @media (min-width: 1024px) {
    margin: 25px;
    height: 70px;
  }
}

.socialIconImage:hover {
  outline: 1.9px solid white;
  border-radius: 50%;
}

/* Light mode */

[data-theme='light'] {
  --background-color: #f3f3f3;
  --text-color: #000000;
}

[data-theme='light'] .modalOverlay {
  background-color: rgba(195, 195, 195, 0.4);
}

[data-theme='light'] .modalContent {
  background-color: rgba(255, 255, 255, 0.6);
}

[data-theme='light'] .closeButton img {
  width: 20px;
  height: 20px;
}

[data-theme='light'] .socialIconImage:hover {
  outline: 1.9px solid rgb(8, 8, 8);
  border: none;
}
