.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0;
  width: 100%;

  @media (min-width: 1024px) {
    width: 50%;
    margin-left: 6%;
  }

  @media (min-width: 1060px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }

  @media (min-width: 1400) {
    width: 50%;
    margin-left: 18%;
  }
}

.imageContainer {
  position: relative;
  width: 16rem;
  height: 8rem;
  overflow: hidden;
  max-width: 700px;
  border-radius: 35px;

  @media (min-width: 1024px) {
    width: 16rem;
    height: 8rem;
  }
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 35px;
}

.chevronLeft,
.chevronRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.chevronLeft {
  left: 5px;
}

.chevronRight {
  right: 5px;
}

.chevronLeftImage,
.chevronRightImage {
  width: 22px;
  height: auto;
  box-sizing: border-box;
}

.chevronLeftImage:hover,
.chevronRightImage:hover {
  outline: 1px solid white;
  border-radius: 35px;
}
