.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: flex-start;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

.modalContent {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2rem;
  margin-top: calc(60px + 0px);
  border-radius: 4px;
  max-width: 100%;
  max-height: 85%;
  height: 84%;
  width: 90%;
  overflow-y: auto;
  z-index: 1000;
  text-align: center;
  position: relative;
  margin-left: 2vw;
  margin-right: 2vw;
  align-items: center;

  @media (min-width: 768px) {
    background-color: rgb(0, 0, 0, 0.5);
    width: 50vw;
    max-width: 50vw;
    margin: 0 0.5vw;
    margin-top: 54px;
    padding-top: 3.5rem;
    padding-left: 0;
    padding-right: 0;
    height: 84%;
    align-items: center;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.closeButton img {
  width: 20px;
  height: 20px;
}

.carouselStack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;

  @media (min-width: 768px) {
    margin-top: 1rem;
  }

  @media (min-width: 1024px) {
    gap: 4rem;
    margin-top: 2rem;
  }
}

.carouselItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;

  /* Ensure the text aligns to the top */

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items at the top */
    justify-content: flex-start;
    flex-direction: row; /* Align the carousel and text side by side on larger screens */
    align-items: flex-start; /* Ensure text aligns to the top */
    justify-content: space-between;
  }
}
.carousel {
  width: 100%;
  margin-top: 3rem;

  @media (min-width: 1024px) {
    width: 50%; /* Adjust the carousel width on larger screens */
  }
}

.carouselTextContainer {
  text-align: center;
  margin-top: 1rem;

  @media (min-width: 1024px) {
    width: 50%; /* Text container takes 50% of the width on larger screens */
    text-align: left;
    margin-top: 0.7rem;
    padding-right: 0.7rem;
    padding-left: 1.5rem;
    align-items: flex-start;
    justify-content: flex-start; /* Ensure the text is aligned at the top */
  }

  @media (min-width: 1200px) {
    padding-right: 3rem;
  }
}

.carouselTitle {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: -0.3rem;

  @media (min-width: 768px) {
    margin-top: -0.5rem;
    font-size: 12px;
  }
}

.carouselDescription {
  font-weight: 300;
  font-size: 11px;
  padding-top: 6px;
  padding-bottom: 1rem;
  max-width: 20rem;
  line-height: 1.5;
  text-align: left;

  @media (min-width: 768px) {
    font-size: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 10px;
    padding-bottom: 0rem;
    max-width: auto;
    padding-top: 4.5px;
    line-height: 1.3;
  }
}
