.carouselStack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 32px;

  @media (min-width: 554px) {
    gap: 32px;
  }

  @media (min-width: 768px) {
    gap: 28px;
  }

  @media (min-width: 1200px) {
    gap: 36px;
  }
}

.carouselItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carouselTextContainer {
  text-align: center;
  margin-top: 1.1rem;
  max-width: 275px;
  color: var(--text-color);

  @media (min-width: 768px) {
    max-width: 290px;
  }

  @media (min-width: 1200px) {
    max-width: 320px;
  }
}

.carouselTitle {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
  margin-top: -0.3rem;

  @media (min-width: 768px) {
    font-size: 12px;
  }

  @media (min-width: 1024px) {
    font-size: 12px;
  }
}

.carouselDescription {
  font-weight: 300;
  font-size: 10.5px;
  padding-top: 6px;
  padding-bottom: 1rem;
  max-width: 20rem;
  line-height: 1.5;
  text-align: center;
}
[data-theme='light'] .carouselDescription {
  font-weight: 400;
}

[data-theme='light'] .carouselTitle {
  font-weight: 550;
}
